<% if (user) { %>
<button id="actionCreate" class="action-create btn bc-dark-blue2 fc-white"><i class="material-icons left fc-white">create</i>创建新Action</button>
<button id="actionWrite" class="action-write btn bc-dark-yellow2 fc-white"><i class="material-icons left fc-white">pets</i>写日志</button>
<% } else { %>
<button id="actionCreate" class="action-create btn bc-dark-blue2 fc-white"><i class="material-icons left fc-white">create</i>加入我们</button>
<button id="actionWrite" class="action-write btn bc-dark-yellow2 fc-white"><i class="material-icons left fc-white">pets</i>登录</button>
<% } %>