<div md-theme="defaultTheme"  layout="column">

<md-toolbar class="action-top-menu-back">
  <div class="md-toolbar-tools" >
      <md-button class="md-icon-button action-menu-frame action-top-menu-button-back" href="/web" aria-label="Settings" >

        <div class="md-icon">
          <ng-md-icon id="icon" icon='arrow_back' style="fill: white" size="28"></ng-md-icon>
        </div>
        <!--<ng-md-icon id="icon" icon="menu" style="fill: white" size="28"></ng-md-icon>-->
      </md-button>
      <h2>

        <span class='action-title' ><%=title%></span>
      </h2>
      <ul class="action-top-center-menu" flex="55" offset="5" hide-sm center center >
        <li>
          <a href="/web">全部</a>
        </li>
        <% if(user){%>
        <li>
          <a href="/web/initiate">发起</a>
        </li>

        <li>
          <a href="/web/find">发现</a>
        </li>
        <% }%>
        <li>

        </li>
      </ul>
      <span flex></span>
    </div>

</md-toolbar>


</div>
