<md-button class="md-fab md-mini action-back-top" aria-label="action-back-top" >
  <div class="md-icon"><ng-md-icon  icon='keyboard_arrow_up' style="fill: white" size="28"></ng-md-icon></div>
</md-button>
</body>
</html>
