<!-- Head -->
<header class="action-header blue darken-1" id="action-header" ng-controller="ActionHeaderController">
	
	<div class="navbar-fixed">
		<nav class="action-header-nav action-container action-box-shadow-none transparent" id="acton-header-nav" ng-controller="ActionHeaderNavController">
			
			<div class="nav-wrapper">
				
				<button class="action-hamburger-button action-header-button  left waves-effect waves-circle">
					<i class="material-icons">menu</i>
				</button>
				
				
				<div class="action-header-title action-active-htd ">
					
					<a class="action-logo" href="/index"><%=title%></a>
					
				</div>
				
				
				
				<div class="action-header-nav-right-menu right action-d-down-hide">
					
					<a class="action-signin action-header-button waves-effect waves-circle" action-tooltip="登录/注册"><i class="material-icons">account_circle</i></a>
				
					<a class="action-place action-header-button waves-effect waves-circle" href="#" action-tooltip="附近"><i class="material-icons">place</i></a>
					
					<a  class="action-header-button waves-effect waves-circle" action-tooltip="分享"><i class="material-icons">share</i></a>
					
					
				</div>
				
				<div class="action-header-nav-right-menu action-mobile right action-d-up-hide">
					
					<a class=" action-header-button waves-effect waves-circle"><i class="material-icons">account_circle</i></a>
					
					<a class="action-header-mobile-search-button action-header-button waves-effect waves-circle" ><i class="material-icons">search</i></a>
					
					<a class="action-header-mobile-add-button action-header-button waves-effect waves-circle dropdown-button" data-activates="action-mobile-nav-dropdown"><i class="material-icons">add</i></a>
					
				</div>
				
				
				
				<div class="action-search right action-d-down-hide">
					<a class="material-icons">search</a>
					<input type="text" class="action-input-text left"/>
				</div>
				
			</div>
		
		</nav>
		<ul id="action-mobile-nav-dropdown" class="action-mobile-nav-dropdown  dropdown-content ">
			<li><a href="#!"><span class="material-icons">mail</span>消息</a></li>
			<li><a href="#!"><span class="material-icons">place</span>附近</a></li>
			<li><a href="#!"><span class="material-icons">share</span>分享</a></li>
			<li class="divider"></li>
			<li><a href="#!"><span class="material-icons">exit_to_app</span>退出</a></li>
		</ul>
	</div>
	
	<div class="action-header-bottom action-container action-d-down-hide">
		<button class="action-signup btn waves-effect">加入我们！</button>
		<button class="action-signin btn waves-effect">登录</button>
	</div>
	
</header>

<div  class="action-side-nav action-active-x-left">
					
</div>

<div class="action-mobile-side-search-page action-d-up-hide action-active-x-right">
	
	<div class="action-mobile-side-search-page-header">
		
		<nav class="action-container white ">
			
			<div class="nav-wrapper">
				
				<div class="row">
					
					<div class="col s1">
						
						<button class="action-back-button transparent left waves-effect waves-circle">
							<i class="material-icons">arrow_back</i>
						</button>
						
					</div>
      				<div class="col s10">
						  
						  <div class="action-mobile-search">
								<input placeholder="Search"  type="text" class="action-input-text left">
						  </div>
						  
					  </div>
      				<div class="col s1">
							  
						<button class="action-search-button transparent right waves-effect waves-circle">
							<i class="material-icons">search</i>
						</button>
						  
					 </div>
					
				</div>
				
				<!--<button class="action-back-button transparent left waves-effect waves-circle">
					<i class="material-icons">arrow_back</i>
				</button>
				
				<input placeholder="Search"  type="text" class="action-input-text left">
					<button class="action-search-button transparent right waves-effect waves-circle">
						<i class="material-icons">search</i>
					</button>-->
				
				<!---->
				
				
				
			</div>
			
		</nav>
		
	</div>
	
	<div class="action-container action-mobile-side-search-page-body">
		222
		
		
	</div>
	
</div>



<!--end-->


