<% if (user) {%>
<button class="btn action-exit-app square circle bc-alpha-0 right s-down-hide"><i class="material-icons">exit_to_app</i></button>
<button class="btn action-notifications square circle bc-alpha-0 right s-down-hide"><i class="material-icons">place</i></button>
<% } else {%>
<button class="btn action-notifications square circle bc-alpha-0 right s-down-hide"><i class="material-icons">account_circle</i></button>
<% } %>
<button class="btn action-more-vert square circle bc-alpha-0 right s-down-show"><i class="material-icons">more_vert</i></button>
<button class="btn action-search square circle bc-alpha-0 right"><i class="material-icons">search</i></button>