<!--layout-->
<% include layout.html %>
    <header id="actionHeader" class="action-header he-header cb-blue">
        <nav id="actionHeaderNav" class="action-nav ne-nav cb-alpha">
            <div class="u-left">
                <ul>
                    <li class="hamburger">
                        <a class="waves-effect b-btn u-circle">
                            <i class="material-icons">menu</i>
                        </a>
                    </li>
                    <li class="logo hide-sm">
                        <h5>Action</h5>
                    </li>
                </ul>
            </div>
            <div class="u-container hide-sm">
                <ul class="u-left">
                    <li class="action"><a class="active">有趣的</a></li>
                    <!--<li><a><%=user%></a></li>-->
                    <li class="vicinity"><a>附近</a></li>
                </ul>
                <!--<ul class="u-right signed">
                    <li class="place">
                        <a class="waves-effect b-btn u-circle">
                            <i class="material-icons">place</i>
                        </a>
                    </li>
                    <li class="place">
                        <a class="waves-effect b-btn u-circle">
                            <i class="material-icons">star</i>
                        </a>
                    </li>
                    <li class="mail">
                        <a class="waves-effect b-btn u-circle">
                            <i class="material-icons">mail</i>
                        </a>
                    </li>
                </ul>-->
                <ul class="u-right not-signed">
                    <li class="login">
                        <a class="waves-effect btn">登录</a>
                    </li>
                    <li class="join">
                        <a class="waves-effect btn">加入我们!</a>
                    </li>
                </ul>
            </div>
            <div class="u-right">
                <ul>
                    <li class="show-sm">
                        <a class="waves-effect b-btn u-circle">
                            <i class="material-icons">more_vert</i>
                        </a>
                    </li>

                    <!--<li class="hide-sm signed exit">
                        <a class="waves-effect b-btn u-circle">
                            <i class="material-icons">exit_to_app</i>
                        </a>
                    </li>-->
                    <li class="search not-signed">
                        <a class="waves-effect b-btn u-circle">
                            <i class="material-icons">search</i>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <div id="actionHeaderTitle" class="action-title te-title u-container">
            <h1>Action</h1>
        </div>
    </header>