<!-- Head -->
<header class="action-header blue darken-1" id="action-header" ng-controller="ActionHeadController">
	
	<div class="navbar-fixed">
		<nav class="action-header-nav action-container action-box-shadow-none action-style-color-0" id="acton-header-nav" ng-controller="ActionHeaderNavController">
		
			<button class="action-hamburger-button  waves-effect">
				<i class="material-icons">menu</i>
			</button>
		
		</nav>
	</div>
	
</header>

<div style="height:100%;"></div>
<!--
<div class="action-head" id="action-head" ng-controller="ActionHeadController">
	 	
	<nav class="action-head-nav action-container blue darken-1" id="acton-head-nav" ng-controller="ActionHeadNavController">
		 	
		<div class="nav-wrapper">
			
			<a href="/index" class="brand-logo left">Action</a>
			<ul class="right hide-on-med-and-down">
				
				<li class=" waves-effect "><a href="#" ><i class="material-icons">search</i></a></li>
				<li class=" waves-effect "><a href="#" ><i class="material-icons">location_on</i></a></li>
				<li class=" waves-effect "><a href="#"><i class="material-icons">star</i></a></li>
				<li class=" waves-effect "><a href="#" ><i class="material-icons">mail</i></a></li>
				<li class=" waves-effect "><a href="#" ><i class="material-icons">account_circle</i></a></li>
				<li class=" waves-effect "><a href="#" ><i class="material-icons">exit_to_app</i></a></li>
				<li class=" waves-effect "><a href="#" ><i class="material-icons">share</i></a></li>
				
			</ul>
		
		</div>
		 
	</nav>

</div>-->

<!-- end -->