<!--header-->
<header id="actionHeader" class="action-header ">
    <!--header-->
    <nav id="actionHeaderNav" class="action-header-nav nav">
        <div class="row">
            <div class="col col-1 left-menu">
                <button class="action-hamburg btn menu-btn square circle bc-alpha-0 left"><i class="material-icons">menu</i></button>
                <button id="actionNavCreateUserPhoto" class="btn action-photo square circle bc-alpha-0 right s-down-hide right"><img src="/img/backup/60.jpeg" /></button>
            </div>
            <div class="container">
                <h5 id="actionNavCenterTitle" class="title"></h5>
            </div>
            <div id="actionHeaderNavMenu" class="col col-1 right-menu">
                <div class="preloader-wrapper active small">
                    <div class="spinner-layer">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <!--end-->
    <div class="row">
        <div class="container">
            <h1 class="action-logo-title">
                <%=title%>
            </h1>
            <% if (user) { %>
                <h1 class="action-logo-title">
                    <%=user%>
                </h1>
                <% } %>
        </div>
    </div>

    <!--   <nav id="actionHeaderNav" class="action-nav ne-nav cb-alpha">
        <div class="u-left">
            <ul>
                <li class="hamburger">
                    <a class="waves-effect b-btn u-circle">
                        <i class="material-icons">menu</i>
                    </a>
                </li>
                <li class="logo hide-sm">
                    <h5>Action</h5>
                </li>
            </ul>
        </div>
        <div class="u-container hide-sm">
            <ul class="u-left">
                <li class="action"><a class="active">有趣的</a></li>
         
                <li class="vicinity"><a>附近</a></li>
            </ul>-->
    <!--<ul class="u-right signed">
                    <li class="place">
                        <a class="waves-effect b-btn u-circle">
                            <i class="material-icons">place</i>
                        </a>
                    </li>
                    <li class="place">
                        <a class="waves-effect b-btn u-circle">
                            <i class="material-icons">star</i>
                        </a>
                    </li>
                    <li class="mail">
                        <a class="waves-effect b-btn u-circle">
                            <i class="material-icons">mail</i>
                        </a>
                    </li>
                </ul>-->
    <!--<ul class="u-right not-signed">
                <li class="login">
                    <a class="waves-effect btn b-btn cb-blue light-1">登录</a>
                </li>
                <li class="join">
                    <a class="waves-effect btn b-btn cb-pink">加入我们!</a>
                </li>
            </ul>
        </div>
        <div class="u-right">
            <ul>
                <li class="show-sm">
                    <a class="waves-effect b-btn u-circle">
                        <i class="material-icons">more_vert</i>
                    </a>
                </li>
-->
    <!--<li class="hide-sm signed exit">
                        <a class="waves-effect b-btn u-circle">
                            <i class="material-icons">exit_to_app</i>
                        </a>
                    </li>-->
    <!--          <li class="search not-signed">
                    <a class="waves-effect b-btn u-circle">
                        <i class="material-icons">search</i>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <div id="actionHeaderTitle" class="action-title te-title u-container">
        <h1>Action</h1>
    </div>-->
</header>