<!--layout-->
<% include layout.html %>
<header id="actionHeader" class="action-header he-header cb-blue">
    <nav id="actionHeaderNav" class="action-nav ne-nav cb-alpha">
        <div class="u-left">
            <ul>
                <li></li>
                <li></li>
            </ul>
        </div>
        <div class="u-container">1
            <ul>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
        <div class="u-right">
            <ul>
                <li></li>
                <li></li>
            </ul>
        </div>
    </nav>
</header>
