<!DOCTYPE html>
<html>

<head>
  <title>
    <%=title%>
  </title>
  <% include layout.html %>
</head>

<body ng-app="Action">
  <% include header.html %>
  <div class="side-nav left hide">111</div>
  <div id="actionContent" class="action-content flex-grid">
    <div class="container">
      <div class="row">
        <div class="col col-8">
          <div class="card">111</div> 
          <div class="card">111</div>  
          <div class="card">111</div>   
        </div>
        <div class="col col-4 s-down-hide">22</div>
      </div>
    </div>
  </div>
  <% include footer.html%>
</body>

</html>