<!DOCTYPE html>
<html>

<head>
  <title>
    <%=title%>
  </title>
  <% include layout.html %>
</head>

<body >
  <% include header.html %>
    <div class="action-left-side side-nav left hide">111</div>
    <div id="actionContent" class="action-content flex-grid">
      <div class="container">
        <div class="row">
          <div class="col col-8">
            <div class="card">
              <div class="card-img">
                <img class="back" src="/img/backup/two.jpg" />
                <span class="text">Test user <br/> test-user@email.com</span>
                <div class="top">
                  <a href="#" class="photo btn-min square circle left"><img src="/img/backup/60.jpeg" alt=""></a>
                  <a href="#" class="more-vert btn-min square circle bc-alpha-0 right"><i class="material-icons">more_vert</i></a>
                  <a href="#" class="share btn-min square circle bc-alpha-0 right"><i class="material-icons">share</i></a>
                  <a href="#" class="star btn-min square circle bc-alpha-0 right"><i class="material-icons">star</i><span class="data">11</span></a>
                  <a href="#" class="thumb-up btn-min square circle bc-alpha-0 right"><i class="material-icons">thumb_up</i><span class="data">11</span></a>
                </div>
              </div>
              <div class="card-title">
                <h5 class="left">Card Title</h5>
                <h6 class="right info hot">hot</h6>
                <h6 class="right info new">new</h6>
              </div>
              <div class="card-content">
                <p>Description..</p>
              </div>
              <ul class="list">
                <li>
                  <div class="header">
                    <span class="list-title left"><i class="material-icons">date_range</i></span> 时间
                    <span class="list-content right">2016年12月23日</span>
                  </div>
                </li>
                <li>
                  <div class="header">
                    <span class="list-title left"><i class="material-icons">place</i></span> 地点
                    <span class="list-content right">上海</span>
                  </div>
                </li>
                <li></li>
              </ul>
              <div class="card-action"><a class=""><i class="material-icons left">flag</i><h6>加入我们</h6></a></div>
            </div>
            <div class="card">
              <div class="card-img"><img class="back" src="/img/backup/bg3.jpg" />
                <span class="text">Test user <br/> test-user@email.com</span>
                <div class="top">
                  <a href="#" class="photo btn-min square circle left"><img src="/img/backup/60.jpeg" alt=""></a>
                  <a href="#" class="more-vert btn-min square circle bc-alpha-0 right"><i class="material-icons">more_vert</i></a>
                  <a href="#" class="share btn-min square circle bc-alpha-0 right"><i class="material-icons">share</i></a>
                  <a href="#" class="star btn-min square circle bc-alpha-0 right"><i class="material-icons">star</i><span class="data">11</span></a>
                  <a href="#" class="thumb-up btn-min square circle bc-alpha-0 right"><i class="material-icons">thumb_up</i><span class="data">11</span></a>
                </div>
              </div>
              <div class="card-title">
                <h5 class="left">Card Title</h5>
                <h6 class="right info hot">hot</h6>
                <h6 class="right info new">new</h6>
              </div>
              <div class="card-content">
                <p>Description..</p>
              </div>
              <ul class="list">
                <li>
                  <div class="header">
                    <span class="list-title left"><i class="material-icons">date_range</i></span> 时间
                    <span class="list-content right">2016年12月23日</span>
                  </div>
                </li>
                <li>
                  <div class="header">
                    <span class="list-title left"><i class="material-icons">place</i></span> 地点
                    <span class="list-content right">上海</span>
                  </div>
                </li>
                <li></li>
              </ul>
              <div class="card-action"><a class=""><i class="material-icons left">flag</i><h6>加入我们</h6></a></div>
            </div>
            <div class="card">
              <div class="card-img"><img class="back" src="/img/backup/bac.jpg" />
                <span class="text">Test user <br/> test-user@email.com</span>
                <div class="top">
                  <a href="#" class="photo btn-min square circle left"><img src="/img/backup/60.jpeg" alt=""></a>
                  <a href="#" class="more-vert btn-min square circle bc-alpha-0 right"><i class="material-icons">more_vert</i></a>
                  <a href="#" class="share btn-min square circle bc-alpha-0 right"><i class="material-icons">share</i></a>
                  <a href="#" class="star btn-min square circle bc-alpha-0 right"><i class="material-icons">star</i><span class="data">11</span></a>
                  <a href="#" class="thumb-up btn-min square circle bc-alpha-0 right"><i class="material-icons">thumb_up</i><span class="data">11</span></a>
                </div>
              </div>
              <div class="card-title">
                <h5 class="left">Card Title</h5>
                <h6 class="right info hot">hot</h6>
                <h6 class="right info new">new</h6>
              </div>
              <div class="card-content">
                <p>Description..</p>
              </div>
              <ul class="list">
                <li>
                  <div class="header">
                    <span class="list-title left"><i class="material-icons">date_range</i></span> 时间
                    <span class="list-content right">2016年12月23日</span>
                  </div>
                </li>
                <li>
                  <div class="header">
                    <span class="list-title left"><i class="material-icons">place</i></span> 地点
                    <span class="list-content right">上海</span>
                  </div>
                </li>
                <li></li>
              </ul>
              <div class="card-action"><a class=""><i class="material-icons left">flag</i><h6>加入我们</h6></a></div>
            </div>
          </div>
          <div class="col col-4 s-down-hide">22</div>
        </div>
      </div>
    </div>
    <% include footer.html%>
</body>

</html>