<!DOCTYPE html>
<html>

<head>
  <title>
    <%=title%>
  </title>
  <% include layout.html %>
</head>

<body app-name="Action">
  <% include header.html %>
    <div id="actionLeftSide" class="action-left-side side-nav left hide">
      <div class="preloader-wrapper active small">
        <div class="spinner-layer">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div>
        </div>
      </div>
    </div>
    <div id="actionContent" class="action-content flex-grid">
      <div class="container">
        <div class="row">
          <div id="actionContentCards" class="col col-8" data-action="forEach">

          </div>
          <div id="actionContentRight" class="col col-4 s-down-hide">
            <div class="preloader-wrapper active small">
              <div class="spinner-layer">
                <div class="circle-clipper left">
                  <div class="circle"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



    <% include footer.html%>
</body>

</html>