<!DOCTYPE html>
<html>
  <head lang="en">
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta http-equiv="“X-UA-Compatible”" content="“chrome=1″">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/lib/angular-material.css">

    <link rel="stylesheet" type="text/css" href="/stylesheets/style-web.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/default.css">
    <!-- IE Fix css-->
    <!--if IE
    link(type='text/css', rel='stylesheet', href='css/style-IE.css')
    script(type='text/javascript', src='/javascripts/lib/jquery-1.11.2.min.js')
    -->
    <!-- jquery-2.1.3.min.js-->
    <script type="text/javascript" src="/javascripts/lib/jquery-2.1.3.min.js"></script>
    <!-- AngularJs.min.js-->
    <script type="text/javascript" src="/javascripts/lib/bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="/javascripts/lib/bower_components/angular-animate/angular-animate.min.js"></script>
    <script type="text/javascript" src="/javascripts/lib/bower_components/angular-aria/angular-aria.min.js"></script>
    <script type="text/javascript" src="/javascripts/lib/bower_components/angular-material/angular-material.min.js"></script>
    <script type="text/javascript" src="/javascripts/lib/bower_components/angular-material-icons/angular-material-icons.min.js"></script>
    
    <script type="text/javascript" src="/javascripts/lib/bower_components/angular-material/angular-material-core.js"></script>
    <!-- default js-->
    <script type="text/javascript" src="/javascripts/main.js"></script>
    <script type="text/javascript" src="/javascripts/script.js"></script>
    <!-- IE html5 fix js-->
    <!--if IE 9
    script(charset='utf-8', src='/javascripts/lib/html5.js')
    -->
  </head>
  <body ng-app="ActionApp" ng-controller="ActionEventCtrl">
  <div class="action-error-box"></div>
