<% include layout.ejs %>
<div class="action-login-top">
  <div class="left">
    <md-button class="action-login-top-btn md-icon-button md-button md-default-theme" href="/web">
      <div class="md-icon"><ng-md-icon  icon='home' style="fill:#2196f3" size="28"></ng-md-icon></div>
      <md-tooltip >
        首页
      </md-tooltip>
    </md-button>
  </div>
  <div class="right">
    <md-button class="action-login-top-btn md-icon-button md-button md-default-theme" aria-label="Login"   href="/web/login">
      <div class="md-icon"><ng-md-icon  icon='account_circle' style="fill:#2196f3" size="28"></ng-md-icon></div>
      <md-tooltip hide-sm>
        登录
      </md-tooltip>
    </md-button>
    <md-button class="action-login-top-btn md-icon-button md-button md-default-theme" href="#" ng-controller="IndexTopMenuAppCtrl" ng-click="showAdvanced($event)">
      <div class="md-icon"><ng-md-icon  icon='info_outline' style="fill:#2196f3" size="28"></ng-md-icon></div>
      <md-tooltip hide-sm>
        关于
      </md-tooltip>
    </md-button>
  </div>
</div>
<div class="action-login-main" ng-controller="ActionUserSignControl">

  <h1 class="title">Welcome!</h1>

  <form ng-submit="signup()">

       <md-input-container>
         <label>账号</label>
         <input ng-model="userInfoData.loginname" ng-required="true" type="text">


       </md-input-container>
       <md-input-container>
         <label>密码</label>
         <input ng-model="userInfoData.passwd"  ng-required="true" type="password">

       </md-input-container>
       <md-input-container>
         <label>确认</label>
         <input   ng-required="true" type="password">

       </md-input-container>
       <md-input-container>
         <label>Email</label>
         <input ng-model="userInfoData.email" type="email"  ng-required="true" type="text">

       </md-input-container>
       <md-input-container>
         <label>电话</label>
         <input ng-model="userInfoData.phone"  ng-required="true" type="text">

       </md-input-container>
       <md-input-container>
         <label>学校</label>
         <input ng-model="userInfoData.school"  ng-required="true" type="text">

       </md-input-container>
       <md-input-container>
         <label>职业</label>
         <input ng-model="userInfoData.title"  ng-required="true" type="text">

       </md-input-container>
      <md-button class="md-raised md-primary action-btn-submit"  layout center center >注册</md-button>
  {{userInfoData}}
    </form>

</div>
<% include foot.ejs%>
