<div class="action-modal action-header-place-button-modal modal modal-fixed-footer white" id="action-header-place-button-modal">
	
	<div class="modal-content">
		
		<div class="action-modal-content-header">
			
			<h5 class="left">附近</h5>
		
		</div>
		
		<div class="action-map">
			111
		</div>
		
	</div>
	
	<div class="modal-footer white">
		
		<ul class="collection">
		
			<li class="collection-item avatar">
				
			<i class="material-icons circle">place</i>
			
			<span class="title">Title</span>
			
			<p>First Line <br>
				Second Line
			</p>
			
			<a href="#!" class="secondary-content"><i class="material-icons">chevron_right</i></a>
				
			</li>
			
		</ul>
	
	</div>
	
</div>