
  <div class="right-btns" ng-controller="IndexTopMenuAppCtrl">
    <md-button class="md-icon-button action-right-search-btn" aria-label="Exit" href="#" hide-sm>
      <div class="md-icon"><ng-md-icon  icon='search' style="fill: white" size="28"></ng-md-icon></div>
      <md-tooltip >
        搜索
      </md-tooltip>
    </md-button>
  <% if(user) {%>
    <md-button class="md-icon-button" aria-label="notifications" ng-controller="ActionUserInfoControl" href="/web/message/<%=user._id%>">
      <div class="md-icon"><ng-md-icon  icon='notifications' style="fill: white" size="28"></ng-md-icon></div>
      <md-tooltip hide-sm>
        消息
      </md-tooltip>
    </md-button>
    <md-button class="md-icon-button" ng-controller="ActionUserSignControl" ng-click="logout()"  aria-label="Exit" href="#" hide-sm>
      <div class="md-icon"><ng-md-icon id="icon1" icon='exit_to_app' style="fill: white" size="28"></ng-md-icon></div>
      <md-tooltip >
        退出
      </md-tooltip>
    </md-button>
  <% } else{%>
    <md-button class="md-icon-button" aria-label="Login"  hide-sm href="/web/login">
      <div class="md-icon"><ng-md-icon  icon='account_circle' style="fill: white" size="28"></ng-md-icon></div>
      <md-tooltip >
        登录
      </md-tooltip>
    </md-button>
    <md-button class="md-icon-button" aria-label="About" href="#" hide-sm ng-click="showAdvanced($event)">
      <div class="md-icon"><ng-md-icon  icon='info_outline' style="fill: white" size="28"></ng-md-icon></div>
      <md-tooltip >
        关于
      </md-tooltip>
    </md-button>
  <% }%>
  <% if(user) {%>
    <div class="action-right-menu-photo-div" ng-controller="ActionUserInfoControl">
      <md-button class="md-fab md-mini action-right-menu-photo" aria-label="{{ user.message.loginname }}" href="/web/user/<%=user._id%>"  hide-sm>
        <img ng-src="{{userPhoto}}" class="md-avatar" alt="{{ user.message.loginname }}" center center/>
        <md-tooltip >
          <%=user.loginname%>

        </md-tooltip>
      </md-button>
    </div>
  <% } %>

    <md-button class="md-icon-button md-icon-right action-right-menu-more" href="" aria-label="More" hide-gt-sm >
      <div class="md-icon"><ng-md-icon  icon='more_vert' style="fill: white" size="28"></ng-md-icon></div>
    </md-button>
  </div>
<div class="action-toast action-toast-active" hide-gt-sm>
    <% if(user){%>
      <md-button class="md-icon-button" ng-controller="ActionUserSignControl" ng-click="logout()">
        退出
      </md-button>
    <%} else {%>
      <md-button class="md-icon-button" ng-controller="ActionUserSignControl" href="/web/login">
        登录
      </md-button>
    <%}%>
    <hr class="action-hr" />
    <md-button class="md-icon-button" ng-click="showAdvanced($event)">
      关于
    </md-button>

</div>
