<% include layout.ejs %>
<% include backnav.ejs %>
<% include rightbtns.ejs %>

<div class="action-main " ng-click="close()" ng-controller="ActionUserInfoControl">

  <md-content >
    <md-card>
      <img ng-src="{{userInfoBacImg}}" class="md-card-img" />
      <div class="action-user-info-top">
        <img ng-src="{{userPhoto}}" class="action-user-photo" />
        <div class="action-user-info-top-text">
          <ul>
            <li class="left">
              <p>{{user.message.countOfMy}}</p>
              <p>参与</p>
            </li>
            <div class="left"></div>
            <li class="right">
              <p>{{user.message.countOfJoin}}</p>
              <p>发起</p>
            </li>
          </ul>
        </div>
      </div>
      <md-card-content>
        <md-list>
          <md-subheader class="md-no-sticky">姓名</md-subheader>
          <md-list-item>
            <div class="md-list-item-text">
              <h3>{{ user.message.user.loginname }}</h3>
            </div>
          </md-list-item>
          <md-subheader class="md-no-sticky">学校</md-subheader>
          <md-list-item>
            <div class="md-list-item-text">
              <h3>{{ user.message.user.school }}</h3>
            </div>
          </md-list-item>
          <md-subheader class="md-no-sticky">职务</md-subheader>
          <md-list-item>
            <div class="md-list-item-text">
              <h3>{{ user.message.user.title }}</h3>
            </div>
          </md-list-item>
          <md-subheader class="md-no-sticky">联系方式({{activeE}})</md-subheader>
          <md-list-item>

              <p>{{ phone }}</p>
              <md-switch  ng-model="usern.email_enable" aria-label="Switch 1"  ng-change="updateUserInfo($event)"></md-switch>
          </md-list-item>
          <md-subheader class="md-no-sticky">Email({{activeP}})</md-subheader>
          <md-list-item>

              <p>{{ email }}</p>
              <md-switch ng-model="usern.phone_enable" aria-label="Switch 2" ng-change="updateUserInfo($event)"></md-switch>
          </md-list-item>
          {{usern}}
        </md-list>
        <div class="action-user-info-bottom">
          <md-button class="md-raised md-primary action-btn-submit" hide-gt-sm layout center center ng-controller="ActionUserSignControl" ng-click="logout()">退出</md-button>
        </div>
      </md-card-content>
    </md-card>
  </md-content>

</div>
  <!--<md-content >
    <md-card >

      <img ng-src="{{userInfoBacImg}}" class="md-card-img" />
      <md-card-content>
        <div class="action-user-info-top">
          <img ng-src="{{userPhoto}}" />
          <div class="action-user-info-top-text">
            <h3>{{ user.message.loginname}}</h3>
            <p>{{ user.message.nickname}}</p>
          </div>
        </div>
        <div class="action-user-info-center">
          {{user}}}
        </div>
        <div class="action-user-info-bottom">
          <ul >
            <li >
              <span class="left">发起活动:</span>
              <span class="right">222</span>
            </li>
            <md-divider class="md-default-theme"></md-divider>

            <li >
              <span class="left">参加活动:</span>
              <span class="right">222</span>
            </li>

          </ul>
        </div>
      </md-card-content>
    </md-card>
  </md-content>-->
  <% include foot.ejs%>
