.action-active-bcd{
	background-color: @action-style-color-default;
}

.action-active-htd{
	margin: 0 8%;
    position: absolute;
    top: 64px;
    width: 84%;
    font-size: @font-big-default;
}
.action-active-hte{
	margin: auto;
    position: relative;
    top: 0;
    width: auto;
    font-size: @font-big-default/2;
}