
.action-header{
	height: @height-top-default;
}

.action-header .action-header-nav .action-header-title{
	
}

.action-header-nav .nav-wrapper  i{
	font-size: @action-button-size/2; 
	line-height: @action-button-size;
	height: @action-button-size;
	width:auto; 		    
}
