@action-z-index-a:999;


@media (min-width: 992px){
	
}

@media (max-width: 992px){
	
}

@media (min-width: 761px){
	.action-d-up-hide{
		display: none !important;
	}
	
}

@media (max-width: 760px){
	.action-header{
		height: @height-top-default*.5;
	}
	
	.action-hamburger-button{
		margin-left: -@action-button-size/3+2; 
	}
	
	.action-back-button{
		margin-left: -@action-button-size/3; 
	}
	
	.action-mobile-side-search-page .action-mobile-side-search-page-header nav .nav-wrapper,
	.action-header .action-header-nav .nav-wrapper{
		margin-top: @action-button-size/6;
	}
	
	
	.action-active-htd{
		margin: auto;
		position: absolute;
		top: 64px;
		width: auto;
		font-size: @font-big-default/2;	
	}
	.action-active-hte{
		margin: auto;
		position: relative;
		top: 0;
		width: auto;
		
	}
	.action-header .action-header-nav .action-header-title .action-logo{
		
	}
	
	.action-header .action-header-bottom{
		width:auto ;
		margin: (@height-top-default - (@action-button-size*3.4)) auto 0 auto;
		height: @action-button-size;
	}
	
	.action-header .action-header-nav .action-header-nav-right-menu{
	margin: 0 -@action-button-size/4 0 0;
	
	}
	
	.action-mobile-side-search-page .action-mobile-side-search-page-header nav .nav-wrapper .action-search-button{
		margin: 0 -@action-button-size/2-2 0 0;
	}
	.action-d-down-hide{
		display: none !important;
	}
	
	
}



@media (max-width: 600px){
	
	.action-hamburger-button{
		margin-left: -@action-button-size/3+2; 
	}
	.action-back-button{
		margin-left: -@action-button-size/2-4;
	}
	.action-mobile-side-search-page .action-mobile-side-search-page-header nav .nav-wrapper,
	.action-header .action-header-nav .nav-wrapper{
		margin-top: @action-button-size/12;
	}
	
	.action-s-down-hide{
		display: none !important;
	}
	
	.action-mobile-side-search-page .action-mobile-side-search-page-body{
	margin: 56px 0 0 0;
	}
}