.action-active-bcd{
	background-color: @action-style-color-default;
}

.action-active-htd{
	margin: 0 8%;
    position: absolute;
    top: 64px;
    
    font-size: @font-big-default;
}
.action-active-hte{
    float: left;
	margin: auto;
    position: relative;
    top: 0;

    font-size: @font-big-default/2-4;
}

.action-active-mnd{
    box-shadow: @action-box-shadow-default !important;
}

.action-active-msnd{
    left:105%;
}
.action-active-msne{
    left:0;
}