@action-style-color-0:rgba(255, 255, 255, 0);
@action-style-color-default:rgb(30, 136, 229);
@action-style-color-red:#ee6e73;
@action-style-color-white:#fff;
@action-style-color-black:rgba(0, 0, 0, 0.5);
.action-style-color-0{
	background-color: @action-style-color-0;
}

.action-style-color-opacity-default{
	opacity: 0;
}