
@action-button-size:48px;
.action-search-button,
.action-back-button,
.action-header-button,
.action-button-default{
	background-color: @action-style-color-default;
	background-size: @action-button-size*.5;
	box-shadow: @action-box-shadow-default;
	border:0;
	color: inherit;
    font: inherit;
    margin: 0;
	text-transform: none;
	-webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
}
.action-close-button{
    color: @action-style-color-black;
    position: fixed;
    right: 24px;
}
.action-back-button{
		margin-left: -@action-button-size/2;
}

.action-search-button .material-icons,
.action-back-button .material-icons,
.action-header-button .material-icons,
.action-button-default .material-icons{
    font-size: @action-button-size/2;
    line-height: @action-button-size;
}