//Backgroud color

//## Alpha 
.cb-alpha{
    background-color: @alpha-0;
}

//## White
.cb-white{
    background-color: @white-default
}

//## Gray
.cb-gray{
    background-color: @gray-default;
}

//## blue
.cb-blue{
    background-color: @blue-default;
}

//Font color

//## White
.cf-white{
    color: @white-default
}

//## Gray
.cf-gray{
    color:@gray-default;
}

//## blue
.cf-blue{
    color: @blue-default;
}