//Backgroud color

//## White
.ab-white{
    background-color: @white-default
}

//## Gray
.ab-gray{
    background-color: @gray-default;
}

//## blue
.ab-blue{
    background-color: @blue-default;
}

//Font color

//## White
.af-white{
    color: @white-default
}

//## Gray
.af-gray{
    color:@gray-default;
}

//## blue
.af-blue{
    color: @blue-default;
}