/*.icon,
.c-white{
  color:#fff;
}

.icon{
  font-size: 24px;
}*/
.md-icon,
.margin-auto{
  margin: auto;
}

.background-repeat{
  background-repeat: no-repeat no-repeat;
}

.md-button.md-icon-button,
.margin-y-0{
  margin-top: 0;
  margin-bottom: 0;
}

.md-button.md-icon-button,
.padding-x-0{
  padding-left:0;
  padding-right: 0;
}


.md-button.md-icon-button,
.min-width-0{
  min-width: 0;
}
.md-button.md-icon-button{
  margin: 0 6px;
  width:48px;
  height:48px;
}
.md-icon,
.display-inline-block{
  display: inline-block;
}
.md-icon,
.vertical-align-middle{
  vertical-align: middle;
}
.md-icon,
.fill-currentColor{
  fill: currentColor;
}
.md-icon {
  height: 28px;
  width: 28px;
  line-height: 44px;
}
.md-toolbar-tools
.action-menu-frame{
  margin-left:-8px;
  /*width: 48px;
height: 48px;*/
}

.action-frame-padding{
  padding: 0 16px;
}
.md-icon-right{
  margin: 0 0 0 16px;
}
.md-button:hover, .md-button:focus {
  text-decoration: none;
}
.md-button {
  box-sizing: border-box;
  color: currentColor;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  outline: none;
  border: 0;
  display: inline-block;
  padding: 0 6px;
  margin: 6px 8px;
  line-height: 36px;
  min-height: 36px;
  background: transparent;
  white-space: nowrap;
  min-width: 88px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  font-style: inherit;
  font-variant: inherit;
  font-family: inherit;
  text-decoration: none;
  cursor: pointer;
  overflow: hidden;
  transition: box-shadow 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), background-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.md-ripple-container {
  pointer-events: none;
  position: absolute;
  overflow: hidden;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: all 0.55s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.listdemoBasicUsage md-divider {
  margin-top: 10px;
  margin-bottom: 10px; }

.action-hr{
  display: block;
  border: 1px solid #444;
  margin: 0;
}
.action-user-info-top,
.position-absolute{
  position: absolute;
}
.action-user-info-name-h3{
  text-align: center;
,
}
.action-input-search button:hover,.action-input-search button:focus,.action-input-search button:visited,
.action-input-search button,
.action-input-text:hover,.action-input-text:focus,.action-input-text:visited,
.action-input-text{
  outline: none;
}
md-whiteframe {
  background: #fff;
  margin:16px;

}
.overflow-hidden{
  overflow: hidden;
}
.default-bc-transition{
  -webkit-transition:background-color .2s ease-in;
	-moz-transition:background-color .2s ease-in;
	-o-transition:background-color .2s ease-in;
	transition:background-color .2s ease-in;
}
span,a,.default-c-transition{
  -webkit-transition:color .2s ease-in;
	-moz-transition:color .2s ease-in;
	-o-transition:color .2s ease-in;
	transition:color .2s ease-in;
}
.action-toast-default,.action-toast-active,
span,a,.default-c-transition{
  -webkit-transition:opacity .2s ease-in;
	-moz-transition:opacity .2s ease-in;
	-o-transition:opacity .2s ease-in;
	transition:opacity .2s ease-in;
}

.action-slide-default{
  transition: -webkit-transform .5s ease;
  -webkit-transform: translate3d(0%, 0, 0);
  /*transition:-ms-transform .5s ease;*/
  -ms-transform:translate3d(0%, 0, 0);
  -moz-transition:-moz-transform .5s ease;
  -moz-transform:translate3d(0%, 0, 0);
  -o-transition:-o-transform .5s ease;
  -o-transform:translate3d(0%, 0, 0);
}
.action-slide-active{
  transition: -webkit-transform .5s ease;
  -webkit-transform: translate3d(-100%, 0, 0);
  /*transition:-ms-transform .5s ease;*/
  -ms-transform:translate3d(-100%, 0, 0);
  -moz-transition:-moz-transform .5s ease;
  -moz-transform:translate3d(-100%, 0, 0);
  -o-transition:-o-transform .5s ease;
  -o-transform:translate3d(-100%, 0, 0);
}

.action-main-action{
  margin-left: 0;
}
.action-main-default{
  margin-left: 100%;
}
.action-btn-default{
  background-color: #2196f3 !important;
  color:#fff !important;
}
.action-main-action,.action-main-default,
.default-margin-left-transition{
  -webkit-transition:margin-left .2s ease-in;
	-moz-transition:margin-left .2s ease-in;
	-o-transition:margin-left .2s ease-in;
	transition:margin-left .2s ease-in;
}
.action-toast-default{
  /*transition: -webkit-transform .5s ease;
  -webkit-transform: translate3d(0, 0, 0);
  /*transition:-ms-transform .5s ease;*/
  /*-ms-transform:translate3d(0, 0, 0);
  -moz-transition:-moz-transform .5s ease;
  -moz-transform:translate3d(0, 0, 0);
  -o-transition:-o-transform .5s ease;
  -o-transform:translate3d(0, 0, 0);*/
  opacity:100;
}
.action-toast-active{
  /*transition: -webkit-transform .5s ease;
  -webkit-transform: translate3d(0, -110px, 0);*/
  /*transition:-ms-transform .5s ease;*/
  /*-ms-transform:translate3d(0, -110px, 0);
  -moz-transition:-moz-transform .5s ease;
  -moz-transform:translate3d(0, -110px, 0);
  -o-transition:-o-transform .5s ease;
  -o-transform:translate3d(0, -110px, 0);*/
  opacity:0;
}

.action-t-menu-default{
  transition: -webkit-transform .5s ease;
  -webkit-transform: translate3d(0, 0, 0);
  /*transition:-ms-transform .5s ease;*/
  -ms-transform:translate3d(0, 0, 0);
  -moz-transition:-moz-transform .5s ease;
  -moz-transform:translate3d(0, 0, 0);
  -o-transition:-o-transform .5s ease;
  -o-transform:translate3d(0, 0, 0);
}
.action-t-menu-active{
  transition: -webkit-transform .5s ease;
  -webkit-transform: translate3d(0, -70px, 0);
  /*transition:-ms-transform .5s ease;*/
  -ms-transform:translate3d(0, -70px, 0);
  -moz-transition:-moz-transform .5s ease;
  -moz-transform:translate3d(0, -70px, 0);
  -o-transition:-o-transform .5s ease;
  -o-transform:translate3d(0, -70px, 0);
}
