div.se-sidenav{
    background-color: @white-default;
    box-shadow: @default-box-shadow;
    height:@full-height;
    top: 0;
    overflow-y: scroll;
    position: fixed;
    width: @side-width;
    z-index: @zIndex-2;
    transition: @transition-default;
}

div.se-sidenav.left{
    float: initial !important;
    left: 0;
}

div.se-sidenav.right{
    float: initial !important;
    right: 0;
}