// Variables
//-----------------------


// Colors
//---------

//## White
@white-default:#fff;
@white-darken-1:#e9edf0;


//## Gray
@gray-default:#1a1a1a;
@gray-base:#000;


//## Blue
@blue-default:#1E88E5;


//Width

//## Full width
@full-width:100%;

//## Middle
@middle-width:80%;

//Height

//## Full height
@full-height:100%;

//## Height 64px
@height-64:@base-size * 8;

//Util size
@base-size: 8px;


//Float

//## left
@left:left;

//## right
@right:right;

//## center
@center:center;