// Variables
//-----------------------


// Colors
//---------

//## Alpha 0
@alpha-0:           rgba(0,0,0,0);

//## White
@white-default:     #fff;
@white-darken-1:    #e9edf0;

//## Gray
@gray-default:      #1a1a1a;
@gray-base:         #000;
@gray-rgb0:         rgba(0,0,0,0.12);
@gray-rgb1:         rgba(0,0,0,0.16);  

//## Blue
@blue-default:      #1E88E5;



//Float

//## left
@left:      left;

//## right
@right:     right;

//## center
@center:    center;



//Font type

//## '微软雅黑'
@font-type-yahei:               '微软雅黑';

//## '宋体'
@font-type-songti:              '宋体';

//## 'Merriweather'
@font-type-Merriweather:        'Merriweather';

//## 'Hiragino Sans GB'
@font-type-Hiragino_Sans_GB:    'Hiragino Sans GB';

//## 'Microsoft Yahei'
@font-type-Microsoft_Yahei:     'Microsoft Yahei';


//Height

//## Full height
@full-height:   100%;

//## Height 64px
@height-64:     @base-size * 8;

//## Height 256px
@height-256:    @base-size * 32;


//Box shadow

//## default
@default-box-shadow: 0 2px 5px 0 @gray-rgb1,0 2px 10px 0 @gray-rgb0;



//Util size

//## base size
@base-size:         8px;

//## default size
@default-size:      0;

//## font base size
@font-base-size:    14px;



//Width

//## Full width
@full-width:        100%;

//## screen xs
@screen-xs:         480px;

//## screen sm 
@screen-sm:         768px;

//## screen md 
@screen-md:         992px;

//## screen lg 
@screen-lg:         1200px;

//## Middle
@middle-width:      calc(~"@{full-width} - "(@side-width * 2));

//### Side
@side-width:        190px;