.btn{
    /*padding: @base-size * (3/2);
    text-align: center;
    vertical-align:initial;
    height: 36px;
    line-height: @base-size * 3;
    &:hover{
        background-color: initial;
    }*/
}
