div.card{
  height: auto;
  border-radius: @radius-default;
  background-color: @white-light;
  box-shadow: @default-box-shadow;
  position: relative;
  display: block;
  margin: 0 0 @base-size 0;
  overflow: hidden;
  div{
    &.card-img,&.card-title,&.card-content,&.card-action{
      position: relative;
    }
    &.card-content,&.card-action,&.card-title{
      padding: @base-size * 2; 
    }
    &.card-img{
      img.background{
        width: @full;
        min-height: @card-img-min-height;
        position: relative;
        display: block; 
        border-radius: 2px 2px 0 0;
        left: 0;
        top:0;
        bottom: 0;
        right: 0;
      }
      .text{
        position: absolute;
        color: @white-darken-1;
        bottom: 0;
        left: 0;
        padding: @base-size * 2;
        text-shadow:  @default-text-shadow;
      }
    }
    &.card-action{
        border-top: @border-default;
    }
    &.card-title{
      height: 64px;
      line-height: 36px;
    }
    .info{
      font-size: 14px;
      margin: 0 4px;
      height: 14px;
      line-height: 14px;
      width: 36px;
      text-align: center;
      color: @white-default;
      &.new{
        background-color: @green-default;
      }
      &.hot{
        background-color: @pink-default
      }
    }
    &.card-more-vert{
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 100%;
      padding: @base-size * 2;
      background-color: @white-default;
      &.active{
        top:0;
      }
      button.close{
        i{
          color: @dark-default;
        }
      }
      .content{
        width: @full;
        display: block;
      }
    }
  }
}