div.card{
  width: @full;
  height: auto;
  border-radius: @radius-default;
  padding: @base-size 0;
  background-color: @white-light;
  box-shadow: @default-box-shadow;
  position: relative;
  display: block;
  margin: @base-size 0;
}