footer.footer,div.footer{
  background-color:       @blue-default;
  width:                  @full;
  
  .footer-copyright{
    height:               @footer-copyright-height;
    line-height:          @footer-copyright-height;
    overflow:             hidden;
    background-color:     @alpha;
    .flex-grid;
    &,a{
      color:              @white-light;
    }
  }  
}

@media @medium-screen-down{
  .footer-copyright{
    .container{
      flex-basis:                   @full @default;
      -webkit-flex-basis:           @full @default;
      margin:                       initial;
      max-width:                    initial;
    }
  }
}