// Grid System





// Init grid function

// Init row
.init-grid(@flex-wrap,@align-content){
  .row{
    display:                          flex;
    display:                          -webkit-flex;
    flex-wrap:                        @flex-wrap;
    -webkit-flex-wrap:                @flex-wrap;
		align-content:                    @align-content;
    -webkit-align-content:            @align-content;
    
    .container,
    .container-full,
    .col{
      padding:                        ~'@{base}px';
      display:                        block;
    }

    .full{
      width:                          @full;
    }

    // Container
    .container,.container-full{
      position:                       relative;
      margin:                         0 auto;
    }

    .container{
      flex-basis:                     calc(~'100vw / 1.5');
      -webkit-flex-basis:             calc(~'100vw / 1.5');
    }

    .container-full{
      flex-basis:                     @full;
      -webkit-flex-basis:             @full;
    }
  }
  .create-grid-columns();
}

// Init grid
.init-grid(wrap,flex-start);

// Set columns flex order 0
.set-default-columns-order{
  .col{
    order:                            0;
    -webkit-order:                    0;
  }
}

.show{
  display:                        block @default;
}

.hide{
  display:                        none @default;
}

// Init smail screen grid
@media @smail-screen{
  .row{
    .container{
      flex-basis:                   auto;
      -webkit-flex-basis:           auto;
      margin:                       initial;
      max-width:                    initial;
    }
  }
  .row{
    &.small-full{
      flex-flow:                      column;
      -webkit-flex-flow:              column;
      flex-direction:                 column;

      .set-default-columns-order();
    }
  }
  .s-down-show{
    .show;
  }
  .s-down-hide{
    .hide;
  }
}

// Init medium screen grid
@media @medium-screen{
  .row{
    .container{
      flex-basis:                   auto;
      -webkit-flex-basis:           auto;
      margin:                       initial;
      max-width:                    initial;
    }
  }
  .row.m-full{
    flex-flow:                  column;
    -webkit-flex-flow:          column;
    flex-direction:             column;
    -webkit-flex-direction:     column;

    .set-default-columns-order();
  }
  .s-down-show{
    .hide;
  }
  .s-down-hide{
    .show;
  }
}

// Init large screen grid
@media @large-screen{
  .s-down-show{
    .hide;
  }
  .s-down-hide{
    .show;
  }
  .m-down-show{
    .hide;
  }
  .m-down-hide{
    .show;
  }
}

// Init desktop screen grid
@media @desktop-screen{
  .s-down-show{
    .hide;
  }
  .s-down-hide{
    .show;
  }
  .m-down-show{
    .hide;
  }
  .m-down-hide{
    .show;
  }
  .l-down-show{
    .hide;
  }
  .l-down-hide{
    .show;
  }
}

@media @medium-screen-down{
  .m-down-show{
    .show;
  }
  .m-down-hide{
    .hide;
  }
}

@media @large-screen-down{
  .l-down-show{
    .show;
  }
  .l-down-hide{
    .hide;
  }
}

@media @smail-screen-up{

}

@media @medium-screen-up{
  
}