// Mask

.mask{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: @full;
  height: @full;
  background-color: @alpha-0;
  z-index: @zIndex-bottom;
  transition: background-color .3s cubic-bezier(0.250, 0.460, 0.450, 0.940);
  overflow: hidden;
  padding: @base-size;
  &.show{
    z-index: @zIndex-3;
    background-color: rgba(255,255,255,.94);
    touch-action: pan-y;
    -webkit-user-drag: none;
    user-drag: none;
  }
  button.close{
    background-color: @alpha-0;
    margin-left: -4px;
    &:hover{
      background-color: @white-light  @default;
    }
    i{ 
      color: @dark-default;
      font-size: 1.5rem; 
    }
  }
} 