// Nav

nav.nav,div.nav{
  background-color:       @blue-default;
  position:               relative;
  height:                 @nav-default-height;
  width:                  @full;
  display:                block;
  z-index:                @zIndex-3;
}

.nav.shadow{
  box-shadow: @default-box-shadow;
}