.side-nav{
  position: fixed;
  top: 0;
  width: @side-nav-width;
}
.side-nav.left{
  left: 0 @default;
  float: initial @default;
}
.side-nav.right{
  right: 0 @default;
  float: initial @default;
}
.side-nav.left-side.hide{
  left: ( -@full ) @default;
  display: block @default;
}
.side-nav.right-side.hide{
  right: ( -@full ) @default;
  display: block @default;
}