.side-nav{
  position: fixed;
  top: 0;
  margin: 0;
  transform: translateX(-@full);
  width: @side-nav-width;
  height: @full;
  height: calc(~'@{full} + 60px');
  height: -moz-calc(@full); //Temporary Firefox Fix
  overflow-y: auto;
  z-index: @zIndex-2;
  will-change: transform;
  backface-visibility: hidden;
  transform: translateX(0);
  background-color: @white-default;
  padding-bottom: 60px;
  box-shadow: @box-shadow;
  transition: @transition-cubic-bezier;
  &.left,&.right{
    float: initial @default;
    &.hide{
      display: block @default;
    }
  }
  &.left{
    left: 0 @default;
    &.hide{
      transform: translateX(-@full);
    }
  }
  &.right{
    right: 0 @default;
    &.hide{
      transform: translateX(@full);
    }
  }
}