<md-dialog aria-label="About" class="action-about-dialog">
  <md-dialog-content class="sticky-container">
    <md-button ng-click="hide()" class="md-icon-button">
      <div class="md-icon"><ng-md-icon id="close" icon='close' style="fill: white" size="28"></div>
    </md-button>
  </md-dialog-content>
</md-dialog>
