<style>
#allmap {width: 100%; height:500px; overflow: hidden;}
</style>


    <div id="allmap"></div>



<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=GevBZzpPlA1tdBswzdp4d9GE"></script>
<script type="text/javascript">
	//百度地图API功能
  var mapData='';
	// function loadJScript() {
	// 	var script = document.createElement("script");
	// 	script.type = "text/javascript";
	// 	script.src = "http://api.map.baidu.com/api?v=2.0&ak=GevBZzpPlA1tdBswzdp4d9GE&callback=init";
	// 	document.body.appendChild(script);
	// }
	// function init() {
		var map = new BMap.Map("allmap");            // 创建Map实例
		var point = new BMap.Point(116.404, 39.915); // 创建点坐标
		map.centerAndZoom(point,15);
		map.enableScrollWheelZoom();

    //var myPushpin = new BMap.PushpinTool(map);         // 创建标注工具实例
    // myPushpin.addEventListener("markend", function(e){  // 监听事件，提示标注点坐标信息
    //   alert("您标注的位置：" +
    //    e.marker.getPoint().lng + ", " +
    //    e.marker.getPoint().lat);
    //  });
    //  myPushpin.open();
    var geolocation = new BMap.Geolocation();
	geolocation.getCurrentPosition(function(r){
		if(this.getStatus() == BMAP_STATUS_SUCCESS){
			var mk = new BMap.Marker(r.point);
			map.addOverlay(mk);
			map.panTo(r.point);
			//alert('您的位置：'+r.point.lng+','+r.point.lat);
      mapData=r.point;
		}
		else {
			//alert('failed'+this.getStatus());
      mapData=this.getStatus();
		}
	},{enableHighAccuracy: true})
                  //启用滚轮放大缩小
  map.addEventListener("click",function(e){
      alert(e.point.lng + "," + e.point.lat);
  });
	// }
	// window.onload = loadJScript;
 //异步加载地图


</script>

GevBZzpPlA1tdBswzdp4d9GE
