<md-toast class="more-toast" id="more-toast" layout="column">
  <a href="#">
    <md-button ng-click="closeToast()">
      About
    </md-button>
  </a>
  <hr class="action-hr" />
  <a href="#">
    <md-button ng-click="closeToast()">
      Signout
    </md-button>
  </a>
</md-toast>
