html,body{
  background-color: @white-darken-1;
}
body {
      padding: 0px;
      margin: 0px;
      font: 14px "Merriweather", arial, 'Hiragino Sans GB', 'Microsoft Yahei', '微软雅黑', '宋体',  Tahoma, Arial, Helvetica, STHeiti;

}