.action-nav{
    height: @height-64;
    box-shadow: none;
    position: fixed;
    z-index: @zIndex-2;
    div{
        ul{
            li{
                height: @height-64;
                line-height: @base-size * 6;
            }
        }
    }

    >div.u-container{
        display: inline-block;
        text-align: center;
        ul{
            li{
                padding: @base-size;
            }
            
        }
        ul.u-left{
            li{
                a{
                    padding: 0 @base-size;
                }
                a.active{
                    border-bottom:(@base-size / 2) @blue-light-1 solid;
                }   
            }
        }
        ul.u-right{
            li{
                a{
                    
                }
            }
            
        }
        ul.u-right.signed{
            li{
                width: @base-size * 8;
                a{
                    padding:@base-size;
                    line-height: @base-size * 6;
                    width: @base-size * 6;            
                }
            }
        }
        ul.u-right.not-signed{
            li{
                a{
                    margin: (@base-size /2) 0 0 0;
                    padding:@base-size (@base-size * 2);
                    line-height: @base-size * 3;
                }
            }

            >li.login{
                a{
                    &:hover{
                        background-color: @blue-light-1;
                    }
                }
            }

            >li.join{
                a{
                    &:hover{
                        background-color: @pink-default;
                    }
                }
            } 
        }
    }

    >div.u-left{
        width: @side-width;
    }

    >div.u-right{
        width: @side-width;
    }

    >div.u-left,
    >div.u-right{
        height: inherit;
        ul{
            li{
                padding: @base-size;
                a.b-btn{
                    height: @base-size*6;
                    line-height: @base-size * 4;
                }
            }
        }
        ul{
            li.hamburger{
                width: @base-size * 8;
            }
        }
        ul{
            li.logo{
                display: none;
                h5{
                    margin: auto;
                    line-height: @base-size * 6;
                }
            }
        }
    }

    >div.u-right{
        ul{
            li{
                float: @right;
            }
        }
    }
}
.action-nav.active{
    box-shadow: @default-box-shadow;
    background-color:@blue-default;
}




